version: '3.3'
services:
  openvidu:
    ports:
      - '${OPENVIDU_EXTERNAL_PORT}:${OPENVIDU_INTERNAL_PORT}'
    image: 'openvidu/openvidu-dev:2.27.0'
    env_file:
      - ./openvidu.env

  rustpad:
    image: ekzhang/rustpad
    ports:
      - '${RUSTPAD_EXTERNAL_PORT}:${RUSTPAD_INTERNAL_PORT}'
    env_file:
      - ./rustpad.env

  core:
    build:
      context: .
      dockerfile: Dockerfile.core
    command: uvicorn backend.src.app.app:app --host ${CORE_HOST} --port ${CORE_INTERNAL_PORT}
    ports:
      - '${CORE_EXTERNAL_PORT}:${CORE_INTERNAL_PORT}'
    links:
      - "openvidu:openvidu"
    env_file:
      - core.env

  webapp:
    build:
      context: .
      dockerfile: Dockerfile.webapp
    ports:
      - '80:80'
    env_file:
      - ./webapp.env

  core_db:
    image: "postgres:14"
    ports:
      - "5433:5432"
    env_file:
      - postgres.env
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  server:
    image: judge0/judge0:1.13.0-extra
    volumes:
      - ./judge0.conf:/judge0.conf:ro
    ports:
      - "2358:2358"
    privileged: true
    restart: always

  workers:
    image: judge0/judge0:1.13.0-extra
    command: ["./scripts/workers"]
    volumes:
      - ./judge0.conf:/judge0.conf:ro
    privileged: true
    restart: always

  db:
    image: "postgres:14"
    env_file: judge0.conf
    volumes:
      - postgres-data:/var/lib/postgresql/data/
    restart: always

  redis:
    image: redis:6.0
    command: [
      "bash", "-c",
      'docker-entrypoint.sh --appendonly yes --requirepass "$$REDIS_PASSWORD"'
    ]
    env_file: judge0.conf
    volumes:
      - redis-data:/data
    restart: always

volumes:
  postgres-data:
  redis-data:
