version: '3.3'
services:
  openvidu:
    ports:
      - '${OPENVIDU_EXTERNAL_PORT}:${OPENVIDU_INTERNAL_PORT}'
    image: 'openvidu/openvidu-dev:2.27.0'
    env_file:
      - ./openvidu.env

  rustpad:
    image: ekzhang/rustpad
    ports:
      - '${RUSTPAD_EXTERNAL_PORT}:${RUSTPAD_INTERNAL_PORT}'
    env_file:
      - ./rustpad.env

  core:
    build:
      context: .
      dockerfile: Dockerfile.core
    command: uvicorn backend.src.app.app:app --host ${CORE_HOST} --port ${CORE_INTERNAL_PORT}
    ports:
      - '${CORE_EXTERNAL_PORT}:${CORE_INTERNAL_PORT}'
    links:
      - "openvidu:openvidu"
    env_file:
      - core.env

  webapp:
    build:
      context: .
      dockerfile: Dockerfile.webapp
    ports:
      - '80:80'
    env_file:
      - ./webapp.env

  codemeet_db:
    image: "postgres:14"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=codemeet
      - POSTGRES_PASSWORD=codemeet
      - POSTGRES_DB=codemeet